<div class="pb-2 d-flex flex-wrap align-content-stretch">
    <div class="m-2">
        <CardExperiencia Header="LG lugar de gente"
                         Title="Desenvolvedor .Net"
                         SubTitle="Jun/2023 - Atualmente"
                         Text="Desenvoldedor fullstack com foco na melhoria do produto e implementação de pequenas funcionalidades."
                         Footer="C# - .Net - Asp.Net MVC - Azure - SQL Server" />
    </div>
    <div class="m-2">
        <CardExperiencia Header="LG lugar de gente"
                         Title="Desenvolvedor .Net"
                         SubTitle="Jan/2022 - Jun/2023"
                         Text="Desenvoldedor fullstack com foco na implementação de grandes funcionalidades no produto."
                         Footer="C# - .Net - Asp.Net MVC - Azure - SQL Server" />
    </div>
    <div class="m-2">
        <CardExperiencia Header="Tribunal Regional Eleitoral de Goiás"
                         Title="Desenvolvedor Python"
                         SubTitle="Jul/2021 - Jan/2022"
                         Text="Planejei e executei a criação de um software para substituir um existente. Tive sucesso e foi implantado em outros estados."
                         Footer="Python - Django - PostgreSQL - Git - XML" />
    </div>
    <div class="m-2">
        <CardExperiencia Header="Tribunal Regional Eleitoral de Goiás"
                         Title="Estagiário em Suporte ao usuário"
                         SubTitle="Ago/2019 - Jul/2021"
                         Text="Fazia manutenção de hardwares, instalação de softwares e atendia cliente. No final do período deste estágio já entrei no projeto de software mencionado acima."
                         Footer="Hardware - Microsoft Office" />
    </div>
    <div class="m-2">
        <CardExperiencia Header="Comissão Permanente de Pessoal Docente"
                         Title="Estagiário em Suporte ao usuário"
                         SubTitle="Nov/2018 - Ago/2019"
                         Text="Departamente dentro da Universidade Federal de Goiás. Fazia manutenção de hardwares, instalação de softwares e atendia cliente."
                         Footer="Hardware" />
    </div>
</div>

@code {

}
