@inherits LayoutComponentBase
@using BlazorBootstrap

<NavHeader />

<main class="container" style="max-width: 960px">
    <section class="row">
        <MainPage />
    </section>
</main>

<FooterInfo />

<Preload />

@code {

}