<section class="col">
    <Tabs EnableFadeEffect="true">
        <Tab IsActive="true">
            <TitleTemplate>
                <Icon Name="IconName.Code" /> Sobre
            </TitleTemplate>
            <Content>
                <article class="mt-2">
                    <SobreMim />
                </article>
            </Content>
        </Tab>
        <Tab>
            <TitleTemplate>
                <Icon Name="IconName.Briefcase" /> Experiência
            </TitleTemplate>
            <Content>
                <article class="mt-2">
                    <Experiencia />
                </article>
            </Content>
        </Tab>
    </Tabs>
</section>

@code {

}
