<header class="container-fluid d-flex flex-row justify-content-evenly align-items-center p-3 mb-2 px-0 bg-dark text-white">
    <h2>
        Gabriel M.
    </h2>
    <NavRedesSociais />
</header>

@code {

}
