<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" aria-label="Expandir e contrair a lista de redes sociais"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav fs-4">
                <a class="nav-link" href="https://www.linkedin.com/in/gmessiasp/" aria-label="Link para meu linkedin">
                    <Icon Name="IconName.Linkedin" /> Linkedin
                </a>
                <a class="nav-link" href="https://github.com/GMessias" aria-label="Link para meu github">
                    <Icon Name="IconName.Github" /> Github
                </a>
                <a class="nav-link" href="mailto:gmessiasp@gmail.com" aria-label="Link para meu email">
                    <Icon Name="IconName.Send" /> E-mail
                </a>
            </div>
        </div>
    </div>
</nav>

@code {

}
