<img src="/img/foto-pessoal.jpg" class="rounded mx-auto d-block border border-4" alt="Foto pessoal Gabriel M." style="height:200px; width:200px"/>

<div class="d-flex flex-column align-items-center mt-2">
    <h2>Gabriel Messias Pacheco</h2>

    <h5>Sou desenvolvedor Back-end, minha especialidade está sendo C#.</h5>
</div>

<div class="mt-2 ">
    <Paragrafo Texto="Apaixonado por tecnologia, e sempre me aventurando em outras ferramentas e tecnologias. Por exemplo Godot, Unity, Kotlin e Golang." />
    <Paragrafo Texto="Já fui homenagedo por serviço prestado no órgão público do estado. E também pela Universidade Federal de Goiás." />
    <Paragrafo Texto="Trabalho com TI desde 2018 e como desenvolvedor desde 2021." />
    <Paragrafo Texto="Sou brasileiro e nasci em Goiânia no estado de Goiás." />
</div>

<div class="d-flex flex-column align-items-center my-2">
    <h4>Habilidades</h4>
    <div class="d-flex mt-2">
        <Habilidades NomeSvg="csharp" Alt="csharp" Height="3" Width="3" />
        <Habilidades NomeSvg="dotnet" Alt="dotnet" Height="3" Width="3" />
        <Habilidades NomeSvg="postgresql" Alt="postgresql" Height="3" Width="3" />
        <Habilidades NomeSvg="python" Alt="python" Height="3" Width="3" />
        <Habilidades NomeSvg="azure" Alt="azure" Height="3" Width="3" />
        <Habilidades NomeSvg="git" Alt="git" Height="3" Width="3" />
    </div>
</div>

@code {

}
